.nav-header {
    height: 45px;
}

.first-nav {
    margin-left: 3%;
}

.home-items-li {
    margin-right: 25px;
}

.home-items-li a {
    color: #66757f;
}

.home-items-li a:hover {
    transition: 0.5s;
    color: rgb(120, 120, 221);
    text-decoration: none;
}

.icon-margin {
    margin-right: 5px;
}

.compose-items {
    border: 0;
    border-radius: 3px;
    background-color: #71bad5;
    height: 24px;
    width: 40px;
}

.last-nav {
    margin-right: 3%;
}

.search-form__input {
    border-radius: 20px;
    border: 1px solid #a3acb2;
    background-color: #a3acb2;
    color: #cfd4d7;
    height: 24px;
    padding-left: 5px;
    padding-right: 30px;
    transition: 0.5s;
}

.search_icon {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 1122px;
    top: 17px;
    width: 12px;
    height: 12px;
    z-index: 164;
}

.saidbar {
    width: 20%;
    height: 2000px;
    border: 1px solid red;
}

.inner-content {
    width: 50%;
    height: 2000px;
    border: 1px solid blue;
}

.search-form {
    margin-right: 3%;
}

.search-form__input:focus {
    color: darkslategray;
    background-color: white;
    transition: 0.5s;
    border: 1px solid #a3acb2;
}

.search-form__input::-webkit-search-cancel-button {
    display: none;
}

nav {
    height: 45px;
}

.head-blue {
    width: 100%;
    height: 344px;
    background-color: #0084b4;
}